header nav {
  background-color: black;
  margin-right: 10px;
  margin: 10px; }
  header nav div a img {
    width: 40px;
    height: 40px; }
  header nav div div ul li {
    justify-content: space-around; }
