@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/*--------RESET---------*/
*{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*--------HEADER........*/
header nav img{
    width: 40px;
    height: 40px;
}

header nav{
    background-color: black;
}

.container-fluid img{
    margin-right: 10px;
    margin: 10px;
}

.nav-item{
    justify-content: space-around;
}

.navbar-brand{
    color: white!important;
}

.nav-link{
    color: white!important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler{
    border: 1px solid white;
}

/*--------MAIN----------*/
.d-item{
    height: 865px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.d-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: black;
    border-color: black;
    color: white;
}

.sobre-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros p{
    font-size: 25px;
    width: 45%;
    margin: 50px;
}

.sobre-nosotros img{
    width: 700px;
    height: 500px;
    margin: 120px;
}

.productos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.productos .producto-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos div .producto-card{
    width: 250px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 110px;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.productos div img{
    width: 100%;
    height: 270px;
}

.productos div h3{
    margin: 15px;
}

.productos div a{
    background-color: black;
    color: white;
    padding: 10px;
}

h4{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.galeria div{
    width: 300px;
    height: 300px;
    position: relative;
}

.galeria div img{
    width: 300px;
    height: 300px;
}

.galeria div h3{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    color: white;
    text-align: center;
}

.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 20px;
    margin-block-end: 50px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.img-2{
    grid-row: span 2;
}

.img-4{
    grid-row: span 2;
}

.img-5{
    grid-row: span 2;
}

.grid-item{
    position: relative;
}

.grid-item h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/*--------FOOTER--------*/

footer{
    background-color: #223843;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    color: white;
}

div .text-center{
    display: block;
}

.text-center{
    text-align: center;
}

.icons{
    display: inline-block;
    text-align: center;
}

.info{
    text-align: center;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*!-----MEDIA QUERY-----*/

@media screen and (max-width: 950px) {
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .sobre-nosotros{
        flex-direction: column;
        padding: 50px;
    }
    .sobre-nosotros img{
        width: 75%;
        height: 400px;
    }
    .sobre-nosotros p{
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:560px) {
    header nav ul{
        flex-direction: column;
    }

    header nav ul li{
        margin: 5px;
        text-align: center;
    }
}

@media screen and (max-width:479px) {
    .hero h1{
        font-size: 35px;
        text-align: center;
    }
}

@media screen and (max-width:450px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

/*---Sobre Nosotros---*/
main{
    background-color: rgb(253, 245, 234);
}

.quienessomos h1{
    text-align: center;
    color: #223843;
}

.quienessomos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: white;
}

.info-nos{
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-nos p{
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 45%;
    margin: 50px;
}

.info-nos img{
    width: 700px;
    height: 500px;
    margin: 120px;
}

.comotrabajamos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: white;
}

/*----Servicios----*/
.servicios1 h1{
    text-align: center;
    color: #223843;
}

main section ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 10px;
}

.catalogo h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: white;
}

.catalogo .producto-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalogo div .producto-card{
    width: 250px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 110px;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.catalogo div img{
    width: 100%;
    height: 270px;
}

.catalogo div h3{
    margin: 15px;
}

.catalogo div a{
    background-color: black;
    color: white;
    padding: 10px;
}

/*---Donde nos encontramos---*/
.donde2{
    display: flex;
    justify-content: space-around;
}
.dondenosencontramos h1{
    text-align: center;
    color: #223843;
}

.form-account{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.ubicacion{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

/*---Hace tu pedido--*/
.hacetupedido h1{
    text-align: center;
    color: #223843;
}