@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*--------RESET---------*/
*{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*--------HEADER........*/

header{
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 10;
}

header h1{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 45px;
}

header img{
    height: 100px;
    width: 100px;
}

header nav ul{
    list-style: none;
    display: flex;
    margin: 10px;
}

header nav ul li{
    margin: 15px 5px 15px 5px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

/*--------MAIN----------*/
.hero{
    background-image: url("../img/local.jpeg");
    width: 100%;
    height: 840px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: 65px;
    border: 2px solid white;
    padding: 25px;
    margin: 10px;
}

.hero p{
    font-size: 30px;
    margin-bottom: 30px;
}

.hero a{
    color: white;
    background-color: black;
    padding: 10px;
}

.sobre-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros p{
    font-size: 25px;
    width: 45%;
    margin: 50px;
}

.sobre-nosotros img{
    width: 700px;
    height: 500px;
}


.productos h2{
    text-align: center;
    background-color: black;
    font-size: 30px;
    color: white;
    padding: 10px;
}

.productos .producto-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos div .producto-card{
    width: 250px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 20px;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.productos div img{
    width: 100%;
    height: 270px;
}

.productos div h3{
    margin: 15px;
}

.productos div a{
    background-color: black;
    color: white;
    padding: 10px;
}

.galeria div{
    width: 300px;
    height: 300px;
    position: relative;
}

.galeria div img{
    width: 300px;
    height: 300px;
}

.galeria div h3{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    color: white;
    text-align: center;
}

.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.img-2{
    grid-row: span 2;
}

.img-4{
    grid-row: span 2;
}

.img-5{
    grid-row: span 2;
}

.grid-item{
    position: relative;
}

.grid-item h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

/*--------FOOTER--------*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*!-----MEDIA QUERY-----*/

@media screen and (max-width: 950px) {
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }
    
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .sobre-nosotros{
        flex-direction: column;
        padding: 50px;
    }
    .sobre-nosotros img{
        width: 75%;
        height: 400px;
    }
    .sobre-nosotros p{
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    header{
        flex-direction: column;
    }
    .hero h1{
        font-size: 45px;
        text-align: center;
    }
}

@media screen and (max-width:560px) {
    header nav ul{
        flex-direction: column;
    }
    
    header nav ul li{
        margin: 5px;
        text-align: center;
    }
}

@media screen and (max-width:450px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}
