@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");

/*--------RESET---------*/
*{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/*--------HEADER........*/
header nav img{
    width: 40px;
    height: 40px;
}

header nav{
    background-color: black;
}

.container-fluid img{
    margin-right: 10px;
    margin: 10px;
}

.nav-item{
    justify-content: space-around;
}

.navbar-brand{
    color: white!important;
}

.nav-link{
    color: white!important;
}

.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler{
    border: 1px solid white;
}

/*--------MAIN----------*/
.d-item{
    height: 865px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.d-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 150px;
    height: 60px;
    background-color: black;
    border-color: black;
    border-radius: 15px;
}

.btn a{
    color: white;
}

.sobre-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-nosotros div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-nosotros p{
    font-size: 25px;
    width: 85%;
    margin: 40px;
}

.sobre-nosotros img{
    width: 700px;
    height: 500px;
    margin: 120px;
}

.sobre-nosotros button{
    background-color: black;
    height: 55px;    
    width: 120px;
    border-radius: 15px;
    font-size: 15px;
    padding: 4px;
}

.sobre-nosotros a{
    color: white;
}

.productos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.productos .producto-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos div .producto-card{
    width: 250px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 110px;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    border-radius: 11px;
}

.producto-contenedor div{
    background-color: white;
}

.productos div img{
    width: 100%;
    height: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productos div h3{
    margin: 15px;
}

.productos div a{
    background-color: black;
    color: white;
    padding: 10px;
}

h4{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.galeria div{
    width: 300px;
    height: 300px;
    position: relative;
}

.galeria div img{
    width: 300px;
    height: 300px;
}

.galeria div h3{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    color: white;
    text-align: center;
}

.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 20px;
    margin-block-end: 50px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
-moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
}

.img-2{
    grid-row: span 2;
}

.img-4{
    grid-row: span 2;
}

.img-5{
    grid-row: span 2;
}

.grid-item{
    position: relative;
}

.grid-item h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
}

.fixed{
    position: fixed;
    z-index: 1;
    right: 50px;
    bottom: 50px;
}

/*--------FOOTER--------*/

footer{
    width: 100%;
    position: absolute;
    background-color: #223843;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 8%;
    color: white;
}

div .text-center{
    display: block;
}

div .redes{
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.icons{
    display: inline-block;
    text-align: center;
}

.info{
    text-align: center;
}

.info h2{
    width: 500px;
    height: 40px;
    font-family: 'Mate SC', serif;
    color: rgb(253, 245, 234);
    margin-block-end: 0;
}

.info a{
    height: 38px;
    width: 40px;
    border: 1px solid #f2f2f2;
    color: white;
    border-radius: 5px;
    background-image: url(../img/whatsapp2.png);
    background-position: center;
    background-size: 45%;
    padding: 10px;
    background-repeat: no-repeat;
    margin: 1rem;
}

.info a:nth-of-type(2){
    background-image: url(../img/instagram.png);
}

.info a:nth-of-type(3){
    background-image: url(../img/facebook.png);
}

.info a:nth-of-type(4){
    background-image: url(../img/email.png) ;
}

.info a:nth-of-type(5){
    background-image: url(../img/telefono.png) ;
}

.info a:nth-of-type(6){
    background-image: url(../img/ubicacion.png) ;
}

p{
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*!-----MEDIA QUERY-----*/
@media screen and (max-width: 1165px) {
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .sobre-nosotros{
        flex-direction: column;
        padding: 50px;
    }
    .sobre-nosotros img{
        width: 75%;
        height: 400px;
    }
    .sobre-nosotros p{
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .sobre-nosotros{
        flex-direction: column;
        padding: 50px;
    }
    .sobre-nosotros img{
        width: 75%;
        height: 400px;
    }
    .sobre-nosotros p{
        width: 80%;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:479px) {
    .hero h1{
        font-size: 35px;
        text-align: center;
    }
}

@media screen and (max-width:479px) {
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:479px) {
    .info h2{
        font-size: 22px;
    }

    .info h3{
        font-size: 22px;
    }

    .text-center{
        font-size: 12px;
    }

    .info .icons{
        font-size: 15px;
    }
}
/*---MEDIA QUERY SOBRE NOSOTROS---*/
@media screen and (max-width: 1171px) {
    .info-nos{
        flex-direction: column;
        padding: 50px;
    }
    .info-nos img{
        width: 75%;
        height: 100px;
        text-align: center;
        margin: 60px;
    }
    .info-nos div p{
        width: 95%;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    section .info-nos{
        flex-direction: column;
        padding: 40px;
    }
    section .info-nos img{
        width: 85%;
        height: 400px;
        text-align: center;
        margin: 60px;
    }
    .info-nos div p{
        width: 700px;
        font-size: 15px;
        text-align: center;
        margin: 10px;
    }
}

@media screen and (max-width:479px) {
    section .info-nos{
        flex-direction: column;
        padding: 40px;
    }
    section .info-nos img{
        width: 95%;
        height: 300px;
        text-align: center;
        margin: 60px;
    }
    .info-nos div p{
        width: 420px;
        font-size: 13px;
        text-align: center;
        margin: 10px;
    }
}
/*---MEDIA QUERY HACE TU PEDIDO---*/
@media screen and (max-width: 767px) {
    .form{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .form-account{
        max-width: 600px;
        padding: 1em 1em;
        border-radius: 10px;
    }

    .form-input{
        width: 100%;
        background: none;
        color: #706c6c;
        font-size: 1.2rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
    
    }

    .hacetupedido2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ubicacion h2{
        width: 50%;
    }
    .ubicacion iframe{
        width: 680px;
        height: 300px;
    }
}

@media screen and (max-width: 479px) {
    .form-account{
        width: 90%;
        height: 70%;
        padding: 1px 1px;
        padding-block-end: 20px;
        border-radius: 5px;
    }
    div .form-container{
        margin-top: 3em;
        display: grid;
        gap: 1.5em;
    }

    div .form-input{
        width: 200px;
        background: none;
        color: #706c6c;
        font-size: 1.5rem;
        padding: 5px 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
        justify-content: center;
    }

    .hacetupedido2{
        flex-direction: column;
        align-items: center;
    }
    .ubicacion h2{
        width: 40%;
    }
    .ubicacion iframe{
        width: 440px;
        height: 300px;
    }
    .ubicacion p{
        width: 80%;
        font-size: 15px;
        text-align: center;
    }
}

/*---MEDIA QUERY DONDE NOS ENCONTRAMOS---*/
@media screen and (max-width: 767px) {
    .form-account{
        max-width: 600px;
        padding: 1em 1em;
        border-radius: 10px;
    }

    .form-input{
        width: 100%;
        background: none;
        color: #706c6c;
        font-size: 1.2rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
    }

    .donde2{
        flex-direction: column;
        align-items: center;
    }
    .ubicacion h2{
        width: 50%;
    }
    .ubicacion iframe{
        width: 680px;
        height: 300px;
    }
}

@media screen and (max-width: 479px) {
    .form{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .form-account{
        width: 90%;
        height: 70%;
        padding: 1px 1px;
        padding-block-end: 20px;
        border-radius: 5px;
    }
    div .form-container{
        margin-top: 3em;
        display: grid;
        gap: 1.5em;
    }

    div .form-input{
        width: 200px;
        background: none;
        color: #706c6c;
        font-size: 1.5rem;
        padding: 5px 5px;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
        justify-content: center;
    }

    .hacetupedido2{
        flex-direction: column;
    }
    .ubicacion h2{
        width: 50%;
    }
    .ubicacion iframe{
        width: 440px;
        height: 300px;
    }
    .ubicacion p{
        width: 80%;
        font-size: 15px;
        text-align: center;
    }
}
/*---Sobre Nosotros---*/
main{
    background-color: rgb(253, 245, 234);
}

.quienessomos h1{
    text-align: center;
    color: #223843;
    padding: 30px;
}

.quienessomos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.info-nos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-nos div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-nos{
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-nos p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 85%;
    margin: 50px;
}

.info-nos img{
    width: 700px;
    height: 500px;
    margin: 120px;
}

.comotrabajamos h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

/*----Servicios----*/
.servicios1{
    display: flex;
    justify-content: center;
    position: relative;
}

.servicios1 .items{
    position: absolute;
    left: 0;
    padding-top: 7px;
}

.servicios1 .titulo-servicios{
    display: flex;
    color: #223843;
    padding: 30px;
}

main section ul li a{
    color: #223843;
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-block-start: -2px;
    margin-block-end: -2px;
    margin-inline-start: -20px;
    margin-inline-end: 0px;
}

.titulo-granja h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.catalogo h2{
    text-align: center;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.catalogo .producto-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalogo div .producto-card{
    width: 250px;
    height: 370px;
    border: 1px black solid;
    text-align: center;
    margin: 110px;
    box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 11px 21px 0px rgba(0,0,0,0.76);
    border-radius: 11px;
}

.catalogo div img{
    width: 100%;
    height: 270px;
}

.catalogo div img{
    border-top-left-radius: 10px;
}

.catalogo div img{
    border-top-right-radius: 10px;
}

.catalogo div h3{
    margin: 15px;
}

.catalogo div a{
    background-color: black;
    color: white;
    padding: 10px;
}

/*---Donde nos encontramos---*/
.donde2{
    display: flex;
    justify-content: space-around;
}
.dondenosencontramos h1{
    text-align: center;
    color: #223843;
    padding: 30px;
}

.form{
    display: flex;
    background-color: #ffff;
    margin: auto;
    max-width: 600px;
    max-height: 900;
    padding: 10em 10em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    flex-direction: column;
    align-items: center;
}

.form-title{
    font-size: 2.5rem;
    margin-bottom: .5em;
}

.form-paraghrap{
    font-weight: 300;
}

.form-link{
    font-weight: 400;
    color: #3866f2
}

.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group{
    position: relative;
    --color: #5757577e;
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1.2rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    justify-content: center;
}

.form-input:focus,
.form-input:not(:placeholder-shown){
    color: #4d4646;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form-submit{
    background: #3866f2;
    color: #ffff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form-input:focus + .form-line,
.form-input:not(:placeholder-shown) + .form-line{
    transform: scale(1);
}

.ubicacion h2{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #223843;
    font-size: 30px;
    color: rgb(253, 245, 234);
    padding: 10px;
}

.donde2{
    padding-block-end: 50px;
}
/*---Hace tu pedido--*/
.hacetupedido2{
    display: flex;
    justify-content: space-around;
    padding-block-end: 50px;
}

.hacetupedido h1{
    display: flex;
    justify-content: center;
    color: #223843;
    padding: 30px;
}

.ubicacion iframe{
    margin-block-end: 40px;
}

.ubicacion{
    display: flex;
    align-items: center;
    flex-direction: column;
}
